.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center;
}

.contact-body {
  max-width: 900px;
  font-size: 1.2rem;
  line-height: 1.4;
}

.contact-body>h1 {
  /* margin: auto; */
  font-size: 2.7rem;
}

.contact-underline {
  border-bottom: 1.5px solid #C25D38;
  width: 75%;
  /* padding-bottom: 5px; */
  margin-bottom: 1.5rem;
  margin: auto;
}

.contact-btn {
  color: rgb(87, 85, 85);
  font-size: .9rem;
  padding: 9px 30px;
  background-color: #72bcabdb;
  font-weight: 400;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
}

.contact-btn:hover {
  background-color: #72bcab96;
}

.quote {
  margin-top: 4rem;
}

.signature {
  font-size: 1.3rem;
  font-style: italic;
}