.navbar {
  color: rgb(247, 247, 247);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  top: 0;
  width: 100%;
  padding: 10px;
  z-index: 1;
  background-color: rgba(82, 82, 82, 0.12);
  transition: all .1s ease-in-out;
  
}

.logo {
  object-fit: contain;
  height: 200px;
  width: 200px;
}

.nav-menu {
  transition: all .4s ease-in-out;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  list-style: none;
}

.home-button {
  font-size: 1.45rem;
  height: min-content;
  color: rgb(247, 247, 247);
  text-decoration: none;
}

.home-button:hover {
  text-decoration: none;
  color: #C25D38;
  ;
}

.hamburger-container {
  display: none;
}

.hamburger {
  cursor: pointer;
  display: none;
}

.icon {
  color: rgb(8, 8, 8);
}

.icon:hover {
  color: rgb(13, 13, 13);
}

.logo-media {
  object-fit: contain;
  height: 200px;
  width: 200px;
}

@media screen and (max-width:980px) {
  .navbar {
    position: fixed;
  }
  .hamburger-container {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    width: 100%;
    margin-right: 2rem;
    z-index: -2;
  }

  .hamburger {
    display: flex;
  }

  .nav-menu {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -100%;
    text-align: center;
    width: 50%;
    margin: 0;
    padding: 0;
    height: 100vh;
    z-index: -1;
    background-color: rgba(160, 158, 158);
  }
  .nav-menu > span {
    display: none;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-menu li {
    padding: 1rem 0;
  }

  .nav-menu a {
    font-size: 1.2rem;
  }

  .logo-media {
    height: 100px;
    width: 100px;
  }
  .navbar-black-logo {
    object-fit: contain;
    height: 200px;
    width: 200px;
  }
}

/* @media screen and (max-width:640px) {
  .nav-menu {
    width: 70%;
    padding: 0;
  }
} */