.navbar {
  color: rgb(247, 247, 247);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  width: 100%;
  max-width: 100%;
  z-index: 1;
  background-image: linear-gradient(to bottom, rgba(107, 110, 112, 0.5), 50%, transparent 100%);
  background-color: rgba(82, 82, 82, 0.05);
  transition: all .1s ease-in-out;
  height: 90px;
  padding-bottom: 1rem;
  padding-top: 2rem;
}

.navbar-black {
  background-color: rgba(82, 82, 82, .4);
}

.logo {
  object-fit: contain;
  margin-left: 1.5rem;
  height: 155px;
  width: 155px;
  transition: all .3s ease-in-out;
}

.logo:hover {
  transform: scale(1.03);
}

.nav-menu {
  transition: all .4s ease-in-out;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0 1.5rem;
  width: 100%;
  list-style: none;
}

.home-button {
  transition: all .3s ease-in-out;
}

.home-button {
  font-size: 1.4rem;
  height: min-content;
  color: rgb(247, 247, 247);
  text-decoration: none;
}

.home-button:hover {
  text-decoration: none;
  color: #C25D38;
  ;
}

.hamburger-container {
  display: none;
}

.hamburger {
  cursor: pointer;
  display: none;
}

.icon {
  color: rgb(250, 250, 250);
}

.icon:hover {
  color: #C25D38;
}

.logo-media {
  object-fit: contain;
  height: 200px;
  width: 200px;
}

.last-li {
  margin-right: 10px;
}

@media screen and (max-width:980px) {
  .navbar {
    position: fixed;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), 65%, transparent 100%);
  }
  .hamburger-container {
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    width: 100%;
    margin-right: 2rem;
    z-index: -2;
  }

  .hamburger {
    display: flex;
    align-self: center;
  }

  .nav-menu {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -100%;
    text-align: center;
    width: 50%;
    margin: 0;
    padding: 0;
    height: 100vh;
    z-index: -1;
    /* background-color: rgba(160, 158, 158, 0.965); */
     background-color: rgba(199, 150, 110, 0.962); 
  }
  .nav-menu > span {
    display: none;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-menu li {
    padding: 1rem 0;
  }

  .nav-menu a {
    font-size: 1.2rem;
  }

  .navbar-black-logo {
    object-fit: contain;
    height: 200px;
    width: 200px;
  }

  .last-li {
    margin-right: 0;
  }
  
}

/* @media screen and (max-width:640px) {
  .nav-menu {
    width: 70%;
    padding: 0;
  }
} */