.destinations-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 5rem;
  /* text-align: center; */
}

/* .dcard {
  display: flex;
  flex-direction: column;
} */

.destinations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.destinations-container {
  font-size: 1rem;
}

.destinations-card {
  max-width: 450px;
  /* max-height: 720px; */
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.destinations-card > p {
  font-size: 1.4rem;
}

.destination-image {
  /* object-fit: contain; */
  min-height: 300px;
  /* height: auto; */
  max-height: 300px;
  /* width: auto; */
  width: 100%;
}

.credit {
  font-weight: 100;
  margin-top: 0rem;
  /* margin-left: 45rem; */
}