.destinations-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 5rem;
  /* text-align: center; */
}

.destinations-container > h1 {
    /* margin: auto; */
    font-size: 2.7rem;
}

.destinations-underline {
  border-bottom: 1.5px solid #C25D38;
  width: 75%;
  /* padding-bottom: 5px; */
  margin-bottom: 1.5rem;
  margin: auto;
}
.destinations-body {
  display: flex;
  justify-content: center;
  max-width: 900px;
  font-size: 1.35rem;
  line-height: 1.4;
  text-align: center;
}

.destinations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.destinations-container {
  font-size: 1rem;
}

.destinations-card {
  max-width: 450px;
  /* max-height: 720px; */
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.destinations-card>p {
  font-size: 1.4rem;
}

.destination-image {
  /* object-fit: contain; */
  min-height: 300px;
  /* height: auto; */
  max-height: 300px;
  width: 100%;
}

.credit {
  font-weight: 100;
  margin-top: 0rem;
  /* margin-left: 45rem; */
}

/* .rsis-container {
  width: 300px !important;
  height: 300px !important;
/* } */
/* .rsis-image {
  object-fit: contain;
}  */

/* @media screen and (max-width:640px) { */
  /* .rsis-container {
    width: 200px;
  } */
/* } */